# Base de datos (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/album2026"

# Auth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="reemplaza-con-un-secret-de-al-menos-32-caracteres"

# Google OAuth (opcional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Rate limiting Upstash Redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"